
@{
    ViewBag.Title = "CustomerDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">

            <h2>CustomerDetails</h2>
            <h2>Customer Details</h2>
            <p><strong>Customer Name:</strong> @ViewBag.Customer</p>

            </div>
        </div>
