@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/assets/pages/css/about.min.css" rel="stylesheet" type="text/css" />

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->
        <!-- END THEME PANEL -->
        <h1 class="page-title ">
            Document Management System

        </h1>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="#">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Dashboard</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                    </button>
                </div>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <li class="list-group-item  bg-font-blue"style="background-color: #135a3d">
            <h2 class="Bold"style="background-color: #135a3d">
                <i class="fa fa-check icon-info"></i> Document Management System
            </h2>
        </li>
        <br></br>
        <div class="row margin-bottom-30">
            <div class="col-lg-4">
                <div class="portlet light about-text">
                    @*<h4>
                    <i class="fa fa-check icon-info"></i> Definitions
                </h4>*@
                    @*<p class="margin-top-30 bold">
                    <i class="fa fa-check icon-envelope-letter"></i>  The Following List Describe each of the terms exist in the this system.
                </p>*@
                    <div class="portlet box yellow">
                        <div class="portlet-title"style="background-color: #135a3d">
                            <div class="caption">
                                <i class="fa fa-check icon-envelope-letter"></i>List of Definition
                            </div>
                            @*<div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                            <a href="javascript:;" class="reload"> </a>
                            <a href="javascript:;" class="remove"> </a>
                        </div>*@
                        </div>
                        <div class="portlet-body">
                            <div class="panel-group accordion" id="accordion3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_1">
                                                Cost of Proposed Action

                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse_3_1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                Shall mean a monetary value of the proposed risk mitigation tool to minimize future occurrence of a certain risk.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_2">
                                                Existing Risk Mitigation
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse_3_2" class="panel-collapse collapse">
                                        <div class="panel-body" style="height:100px; overflow-y:auto;">
                                            <p>
                                                Shall mean the existing control system or tool already applied to control a certain type of risk such as collaterals, insurance, maker-checker arrangements, dual signature etc..
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_3">
                                                Frequency
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse_3_3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p class="Bold">
                                                Shall mean a number of times or number of occurrences of a specific risk incident
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_4">
                                                Impact
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse_3_4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                Shall mean a potential or actual loss or damage measured in terms of money, loss of reputation
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapse_4_4">
                                                KRI
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse_4_4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                Means a measure or metrics used by the bank's management to indicate the level of risk exposure of a certain activity

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapse_5_4">
                                                Potential Risk
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse_5_4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                "Refers to a likelihood of a threat or damage of that may occur in operations of Business unit, in certain
                                                circumstances;"
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapse_14_4">
                                                Risk Owner
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse_14_4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                Means an individual who is ultimately accountable for ensuring the risk is appropriately managed in a Business Unit. There may be multiple personnel/Business Units who have direct responsibility for, or oversight of activities to manage each identified risk, and who collaborate with the accountable risk owner in his/her risk management efforts such as Directors of Credit Department, IBD, HR.. etc.
                                            </p>
                                        </div>
                                    </div>
                                </div>


                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapse_15_4">
                                                Inherent risk 
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse_15_4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                Means risk posed by an error or omission in a financial statement due to a factor other than a failure of internal control.
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="portlet light about-text">
                    @*<h4>
                    <i class="fa fa-check icon-info"></i> Definitions
                </h4>*@
                    @*<p class="margin-top-30 bold">
                    <i class="fa fa-check icon-envelope-letter"></i>  The Following List Describe each of the terms exist in the this system.
                </p>*@
                    <div class="portlet box yellow">
                        <div class="portlet-title" style="background-color: #135a3d">
                            <div class="caption">
                                <i class="fa fa-check icon-envelope-letter"></i>List of Definition
                            </div>
                            @*<div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                            <a href="javascript:;" class="reload"> </a>
                            <a href="javascript:;" class="remove"> </a>
                        </div>*@
                        </div>
                        <div class="portlet-body">
                            <div class="panel-group accordion" id="accordion3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapse_6_4">
                                                Proposed Risk Mitigation
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse_6_4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                Means any increamental risk mitigation/controlling tools/techniques or replacement to existing risk mitigation tools/techniques, such as, putting additional layer of approval further segregation of duties etc…
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapse_7_4">
                                                Risk Area
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse_7_4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                Means a specific activity or set of activities as a result of which the bank is exposed to inherent risk such
                                                as loan disbursement, foreign currency approval collateral regisration process….etc .;

                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapse_8_4">
                                                Root Cause
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse_8_4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                Shall mean an underlaying driver behind occurrence of specific adverse risk events;

                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapse_8_4">
                                                Risk Description
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse_8_4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                Means a narration of specific risk events which shall include at least the source, the cause and consequences;
                                            </p>
                                        </div>
                                    </div>
                                </div>


                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapse_9_4">
                                                Risk Identification Number (RIN)
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse_9_4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                Shall mean a combination of the branch code or a Departmental acronyms followed with a unique alphanumeric identification or designation given to a specific risk events to ensure periodic progress tracking  of same; for example, RIN for Stadium Branch could be....for 1st risk event ''10901'',  for 2nd risk event "10902"...etc; for International Banking Department could be ...for first risk event "IBD01", for 2nd risk event "IBD02", and so on..etc.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapse_10_4">
                                                Risk Rating
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse_10_4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                "Means determining the level of risk taking into account the magnitude of the observed risk events such as; High risk, Medium
                                                risk and Low risk "
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapse_11_4">
                                                High Risk
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse_11_4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                "Observations or finding classified as High Risk if there is a strong need for corrective measures. An existing system may
                                                continue to operate, but a corrective action plan must be put in place as soon as possible;"
                                            </p>
                                        </div>
                                    </div>
                                </div>


                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapse_12_4">
                                                Medium Risk
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse_12_4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                Observations or finding classified as Medium Risk if they are not considered to be High Risk, and for which corrective actionsare needed and a plan must be developed to incorporate actions within a reasonable period of time; and
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapse_13_4">
                                                Low Risk
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse_13_4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                "Observations or findings are classfied as Low Risk if they are not considered to be Medium or High Risk, and: for which , the
                                                system must determine whether corrective actions are still required or decide to accept the risk."
                                            </p>
                                        </div>
                                    </div>
                                </div>





                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-4"  style="margin-top: -14px">
                <div class="mt-element-list">

                    <div class="mt-list-container list-default ext-1 group">

                        <a class="list-toggle-container" data-toggle="collapse" href="#completed" aria-expanded="true" >
                            <div class="list-toggle done uppercase" style="background-color: #135a3d">
                                List of Abbreviations
                                <span class="badge badge-default pull-right bg-white font-green bold">5</span>
                            </div>
                        </a>
                        <div class="panel-collapse collapse in" id="completed">
                            <ul>
                                <li class="mt-list-item done">
                                    <div class="list-icon-container">
                                        <a href="javascript:;">
                                            <i class="icon-check"></i>
                                        </a>
                                    </div>

                                    <div class="list-item-content">
                                        <h3 class="uppercase Bold">
                                            <a href="javascript:;">
                                                DC
                                            </a>
                                        </h3>
                                        <p>
                                            Discipline Committee
                                        </p>
                                    </div>
                                </li>
                                <li class="mt-list-item done">
                                    <div class="list-icon-container">
                                        <a href="javascript:;">
                                            <i class="icon-check"></i>
                                        </a>
                                    </div>

                                    <div class="list-item-content">
                                        <h3 class="uppercase Bold">
                                            <a href="javascript:;">
                                                KRI

                                            </a>
                                        </h3>
                                        <p>
                                            Key Risk Indicator
                                        </p>
                                    </div>
                                </li>
                                <li class="mt-list-item done">
                                    <div class="list-icon-container">
                                        <a href="javascript:;">
                                            <i class="icon-check"></i>
                                        </a>
                                    </div>

                                    <div class="list-item-content">
                                        <h3 class="uppercase Bold">
                                            <a href="javascript:;">
                                                LSD

                                            </a>
                                        </h3>
                                        <p>
                                            Legal Service Department
                                        </p>
                                    </div>
                                </li>
                                <li class="mt-list-item done">
                                    <div class="list-icon-container">
                                        <a href="javascript:;">
                                            <i class="icon-check"></i>
                                        </a>
                                    </div>

                                    <div class="list-item-content">
                                        <h3 class="uppercase Bold">
                                            <a href="javascript:;">
                                                RIN

                                            </a>
                                        </h3>
                                        <p>
                                            Risk Event Identification Number
                                        </p>
                                    </div>
                                </li>
                                <li class="mt-list-item done">
                                    <div class="list-icon-container">
                                        <a href="javascript:;">
                                            <i class="icon-check"></i>
                                        </a>
                                    </div>

                                    <div class="list-item-content">
                                        <h3 class="uppercase Bold">
                                            <a href="javascript:;">
                                                RERR
                                            </a>
                                        </h3>
                                        <p>
                                            Risk Event Registration and  Report
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>

        </div>


        
                





            </div>
            <!-- END CONTENT BODY -->
        </div>
